
# Logs
logs
*.log
npm-debug.log*


# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

bower_components

doc/

src/**/*.map
src/**/*.js
build/

# dotenv environment variables file
.env

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
.vscode/
.history/

# TypeScript intermediate files
types/*.js*
.tscache/