language: node_js
node_js:
  - "14"
  - "12"
  - "10"
install:
  - npm install
before_script:
  - npm run build
script:
  - npm run test
  - npm run test:pkgs

notifications:
  email:
    recipients:
      - sdk_developers@cloudinary.com
